.welcome-card img {
  max-height: 45vh;
  overflow: hidden;
}

.welcome-card ion-card-content {
  padding-top: 0;
}

.topbar-grid {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 0px;
}

.title-logo {
  height: 2.5rem;
  padding: 0.25rem;
}

.hiddenUpload {
  display: none;
}

.product-grid {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 0px;
}

.product-title {
  font-size: 1.25rem
}
